@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "~ng-zorro-antd/ng-zorro-antd.variable.min.css";

@import "./assets/styles/custom.scss";
@import "./assets/styles/antd-custom.scss";
@import "./assets/styles/bingo.scss";

body,
div,
span,
p,
button {
  font-family: "KoHo", sans-serif;
}

$radius: 25px;
$border-color: #00719e;
$border-width: 4px;
$bg: #fff;

%fill-out {
  box-shadow: 0 0 0 $radius $bg;
  clip: rect(0, $radius*2+$border-width, $radius*2+$border-width, 0);
}
